backend/cloudant/nodered.json
{"total_rows":4,"offset":0,"rows":[
{"id":"_design/library","key":"_design/library","value":{"rev":"1-003b750938ae583f15265e4225c867d6"},"doc":{"_id":"_design/library","_rev":"1-003b750938ae583f15265e4225c867d6","views":{"flow_entries_by_app_and_type":{"map":"function (doc) {\n                                            var p = doc._id.split(\"/\");\n                                            if (p.length > 2 && p[2] == \"flow\") {\n                                                var meta = {path:p.slice(3).join(\"/\")};\n                                                emit([p[0],p[2]],meta);\n                                            }\n                                        }"},"lib_entries_by_app_and_type":{"map":"function (doc) {\n                                            var p = doc._id.split(\"/\");\n                                            if (p.length > 2) {\n                                                if (p[2] != \"flow\") {\n                                                    var pathParts = p.slice(3,-1);\n                                                    for (var i=0;i<pathParts.length;i++) {\n                                                        emit([p[0],p[2],pathParts.slice(0,i).join(\"/\")],{dir:pathParts.slice(i,i+1)[0]});\n                                                    }\n                                                    var meta = {};\n                                                    for (var key in doc.meta) {\n                                                        meta[key] = doc.meta[key];\n                                                    }\n                                                    meta.fn = p.slice(-1)[0];\n                                                    emit([p[0],p[2],pathParts.join(\"/\")],meta);\n                                                }\n                                            }\n                                        }"}}}},
{"id":"paddockback/credential","key":"paddockback/credential","value":{"rev":"1-66a229ce7bb1ca2a001e1de4150887ae"},"doc":{"_id":"paddockback/credential","_rev":"1-66a229ce7bb1ca2a001e1de4150887ae","credentials":{"$":"0a93ac6caef69bad74cbe46ae9f906bc8LE="}}},
{"id":"paddockback/flow","key":"paddockback/flow","value":{"rev":"129-201c5e122598c29440081beee5fa2763"},"doc":{"_id":"paddockback/flow","_rev":"129-201c5e122598c29440081beee5fa2763","flow":[{"id":"e5e80d40.de2b6","type":"tab","label":"GPS Points","disabled":false,"info":""},{"id":"905d54e0.be9f98","type":"tab","label":"Paddocks","disabled":false,"info":""},{"id":"66064abd.73c034","type":"tab","label":"Fencing","disabled":false,"info":""},{"id":"f10554dd.a84cd8","type":"tab","label":"Fixtures","disabled":false,"info":""},{"id":"ea30ba1c.7a3d58","type":"tab","label":"kta paddocks","disabled":false,"info":""},{"id":"e5cd0b25.9b4ca8","type":"http in","z":"e5e80d40.de2b6","name":"Add GPS","url":"/api/gpslist/add","method":"get","upload":false,"swaggerDoc":"","x":130,"y":100,"wires":[["95ec9d91.23869","55e6b9f0.a8f938"]]},{"id":"95ec9d91.23869","type":"cloudant out","z":"e5e80d40.de2b6","name":"Insert GPS","cloudant":"","database":"gpspoint","service":"paddockback-cloudantNoSQLDB","payonly":true,"operation":"insert","x":530,"y":100,"wires":[]},{"id":"55e6b9f0.a8f938","type":"http response","z":"e5e80d40.de2b6","name":"Add GPS Response","statusCode":"200","headers":{},"x":560,"y":140,"wires":[]},{"id":"88713366.512bc","type":"http in","z":"e5e80d40.de2b6","name":"List By Paddock","url":"/api/gpslist/listbypaddock","method":"get","upload":false,"swaggerDoc":"","x":150,"y":260,"wires":[["9f30dd9d.196e4"]]},{"id":"e19fc4db.4c0148","type":"cloudant in","z":"e5e80d40.de2b6","name":"gpspointlist","cloudant":"","database":"gpspoint","service":"paddockback-cloudantNoSQLDB","search":"_idx_","design":"listGPSByPaddock","index":"listGPSByPaddock","x":610,"y":260,"wires":[["4651818f.e97f4","557b57e6.74e4b8"]]},{"id":"9f30dd9d.196e4","type":"function","z":"e5e80d40.de2b6","name":"","func":"msg.payload=\"listGPSByPaddock:\" + msg.payload.paddockid\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["e19fc4db.4c0148","67b692c7.74c1fc"]]},{"id":"67b692c7.74c1fc","type":"debug","z":"e5e80d40.de2b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":320,"wires":[]},{"id":"4651818f.e97f4","type":"http response","z":"e5e80d40.de2b6","name":"","statusCode":"","headers":{},"x":800,"y":260,"wires":[]},{"id":"a27763cf.46f3a","type":"inject","z":"e5e80d40.de2b6","name":"","topic":"","payload":"someidcode","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":220,"wires":[["9f30dd9d.196e4"]]},{"id":"557b57e6.74e4b8","type":"debug","z":"e5e80d40.de2b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":320,"wires":[]},{"id":"d0c018e7.00f298","type":"http in","z":"905d54e0.be9f98","name":"api paddock insert","url":"/api/paddock/insert","method":"get","upload":false,"swaggerDoc":"","x":120,"y":100,"wires":[["a4771b26.a840c8"]]},{"id":"6fa2ac3b.0830b4","type":"cloudant out","z":"905d54e0.be9f98","name":"paddock insert","cloudant":"","database":"paddocks","service":"paddockback-cloudantNoSQLDB","payonly":true,"operation":"insert","x":840,"y":100,"wires":[]},{"id":"a40c3794.0a5d38","type":"http in","z":"905d54e0.be9f98","name":"api paddock getinfo","url":"/api/paddock/getinfo","method":"get","upload":false,"swaggerDoc":"","x":120,"y":260,"wires":[["a7a50357.0508b"]]},{"id":"2f15f1e2.8fb13e","type":"cloudant in","z":"905d54e0.be9f98","name":"paddockLookUp","cloudant":"","database":"paddocks","service":"paddockback-cloudantNoSQLDB","search":"_idx_","design":"paddockLookUp","index":"paddockLookUp","x":350,"y":340,"wires":[["6dbd4099.71468","3af14923.fe5056"]]},{"id":"81ba8183.d6e3c","type":"http response","z":"905d54e0.be9f98","name":"","statusCode":"","headers":{},"x":810,"y":380,"wires":[]},{"id":"a7a50357.0508b","type":"function","z":"905d54e0.be9f98","name":"Selector","func":"msg.payload = \"paddockLookUp:\"+msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":260,"wires":[["2f15f1e2.8fb13e"]]},{"id":"a4771b26.a840c8","type":"function","z":"905d54e0.be9f98","name":"Translator","func":"//name is fine\n//id auto\nvar newMsg = {payload: msg.payload.type};\nmsg.payload.type = \"Feature\";\nvar newMsg = {payload: msg.payload.geometry};\n//var newMsg = {payload: msg.payload.geometry.type};\nvar geometry = '{ \"type\": \"Polygon\",';\ngeometry += '\"coordinates\":' + '[[' + msg.payload.coordinates + ']]}';\nmsg.payload.geometry = JSON.parse(geometry);\n\narraylen = msg.payload.geometry.coordinates[0].length;\nvar counter, a, b;\nfor (counter = 0; counter<arraylen; ++counter ){\n    a = msg.payload.geometry.coordinates[0][counter][0];\n    b = msg.payload.geometry.coordinates[0][counter][1];\n    msg.payload.geometry.coordinates[0][counter][0] = b;\n    msg.payload.geometry.coordinates[0][counter][1] = a;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":100,"wires":[["3cc12d83.7f2df2"]]},{"id":"f623f7cc.537158","type":"http response","z":"905d54e0.be9f98","name":"insert response","statusCode":"200","headers":{},"x":820,"y":160,"wires":[]},{"id":"b6da653c.4c7808","type":"debug","z":"905d54e0.be9f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":40,"wires":[]},{"id":"3cc12d83.7f2df2","type":"change","z":"905d54e0.be9f98","name":"remove payload.coordinates","rules":[{"t":"delete","p":"payload.coordinates","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":200,"wires":[["6fa2ac3b.0830b4","b6da653c.4c7808","f623f7cc.537158"]]},{"id":"5ff5a4e8.72d8fc","type":"http in","z":"f10554dd.a84cd8","name":"api fixtures insert","url":"/api/fixtures/insert","method":"get","upload":false,"swaggerDoc":"","x":80,"y":240,"wires":[["3a8adad3.6db186"]]},{"id":"f5da019d.1339f","type":"cloudant out","z":"f10554dd.a84cd8","name":"fixtures insert","cloudant":"","database":"fixtures","service":"paddockback-cloudantNoSQLDB","payonly":true,"operation":"insert","x":800,"y":340,"wires":[]},{"id":"3a8adad3.6db186","type":"function","z":"f10554dd.a84cd8","name":"Translator","func":"//name is fine\n//description is fine\n//id auto\nvar coords;\nvar newMsg = {payload: msg.payload.type};\nmsg.payload.type = \"Feature\";\nvar newMsg = {payload: msg.payload.geometry};\nvar geometry = '{ \"type\": \"Point\",';\ngeometry += '\"coordinates\":' + msg.payload.coordinates + '}';\nmsg.payload.geometry = JSON.parse(geometry);\nvar a = msg.payload.geometry.coordinates[0];\nvar b = msg.payload.geometry.coordinates[1];\nmsg.payload.geometry.coordinates[0] = b;\nmsg.payload.geometry.coordinates[1] = a;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":240,"wires":[["c487839a.c20a3","cf921e1f.9cce9"]]},{"id":"97325a5c.daea58","type":"http response","z":"f10554dd.a84cd8","name":"insert response","statusCode":"200","headers":{},"x":800,"y":300,"wires":[]},{"id":"7bea1645.4ced28","type":"debug","z":"f10554dd.a84cd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":260,"wires":[]},{"id":"cf921e1f.9cce9","type":"change","z":"f10554dd.a84cd8","name":"remove payload.coordinates","rules":[{"t":"delete","p":"payload.coordinates","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":300,"wires":[["f5da019d.1339f","7bea1645.4ced28","97325a5c.daea58"]]},{"id":"c487839a.c20a3","type":"debug","z":"f10554dd.a84cd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":240,"wires":[]},{"id":"6dbd4099.71468","type":"function","z":"905d54e0.be9f98","name":"Coordinate translator","func":"//var newMsg = {payload: msg.payload.plen};\narraylen = msg.payload[0].geometry.coordinates[0].length\n//msg.payload.plen = \"length = \" + msg.length;\nnode.warn(\"length = \" + msg.payload[0].geometry.coordinates[0].length);\n\nvar counter, a, b;\nfor (counter = 0; counter<arraylen; ++counter ){\n    a = msg.payload[0].geometry.coordinates[0][counter][0];\n    b = msg.payload[0].geometry.coordinates[0][counter][1];\n    msg.payload[0].geometry.coordinates[0][counter][0] = b;\n    msg.payload[0].geometry.coordinates[0][counter][1] = a;\n}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":380,"wires":[["81ba8183.d6e3c","6556b260.b5d30c"]]},{"id":"3af14923.fe5056","type":"debug","z":"905d54e0.be9f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":580,"y":300,"wires":[]},{"id":"6556b260.b5d30c","type":"debug","z":"905d54e0.be9f98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":440,"wires":[]},{"id":"15cc5980.40d817","type":"http in","z":"f10554dd.a84cd8","name":"api fixtures getinfo","url":"/api/fixtures/getinfo","method":"get","upload":false,"swaggerDoc":"","x":90,"y":440,"wires":[["5ab49aa0.b77284"]]},{"id":"9dfa217c.b4d64","type":"cloudant in","z":"f10554dd.a84cd8","name":"paddockLookUp","cloudant":"","database":"paddocks","service":"paddockback-cloudantNoSQLDB","search":"_idx_","design":"paddockLookUp","index":"paddockLookUp","x":510,"y":440,"wires":[["49b68840.a11408"]]},{"id":"a982cc82.65eb","type":"http response","z":"f10554dd.a84cd8","name":"","statusCode":"","headers":{},"x":810,"y":720,"wires":[]},{"id":"5ab49aa0.b77284","type":"function","z":"f10554dd.a84cd8","name":"Selector","func":"msg.payload = \"paddockLookUp:\"+msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":440,"wires":[["9dfa217c.b4d64"]]},{"id":"49b68840.a11408","type":"function","z":"f10554dd.a84cd8","name":"Coordinate translator","func":"//var newMsg = {payload: msg.payload.plen};\narraylen = msg.payload[0].geometry.coordinates[0].length\n//msg.payload.plen = \"length = \" + msg.length;\nvar counter, a, b;\nfor (counter = 0; counter<arraylen; ++counter ){\n    a = msg.payload[0].geometry.coordinates[0][counter][0];\n    b = msg.payload[0].geometry.coordinates[0][counter][1];\n    msg.payload[0].geometry.coordinates[0][counter][0] = b;\n    msg.payload[0].geometry.coordinates[0][counter][1] = a;\n}\n\nmsg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":440,"wires":[["8cf06179.8c4d3"]]},{"id":"a142a4dd.0bc9b8","type":"debug","z":"f10554dd.a84cd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":680,"wires":[]},{"id":"2cec4bd4.4d77e4","type":"cloudant in","z":"f10554dd.a84cd8","name":"Display Fixtures","cloudant":"","database":"fixtures","service":"paddockback-cloudantNoSQLDB","search":"_idx_","design":"displayFixtures","index":"displayFixtures","x":600,"y":720,"wires":[["a982cc82.65eb","a142a4dd.0bc9b8"]]},{"id":"a57db147.2c19e","type":"debug","z":"f10554dd.a84cd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":680,"wires":[]},{"id":"8cf06179.8c4d3","type":"function","z":"f10554dd.a84cd8","name":"","func":"var newMsg = {payload: msg.payload.relation};\nmsg.payload.relation = \"contains\";\nvar newMsg = {payload: msg.payload.g};\nmsg.payload.g = \"POLYGON ((\";\narraylen = msg.payload.geometry.coordinates[0].length\nfor (counter = 0; counter<arraylen; ++counter ){\n    msg.payload.g += msg.payload.geometry.coordinates[0][counter][0];\n    msg.payload.g += \" \" + msg.payload.geometry.coordinates[0][counter][1];\n    if (counter < (arraylen -1)){\n        msg.payload.g += \",\";\n    }\n}\nmsg.payload.g += \"))\"\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":520,"wires":[["fd818ecc.25381"]]},{"id":"fd818ecc.25381","type":"change","z":"f10554dd.a84cd8","name":"","rules":[{"t":"delete","p":"payload.name","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":520,"wires":[["4dc26b30.eb4214"]]},{"id":"4dc26b30.eb4214","type":"change","z":"f10554dd.a84cd8","name":"","rules":[{"t":"delete","p":"payload.type","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":560,"wires":[["114f9d8d.ba6e62"]]},{"id":"114f9d8d.ba6e62","type":"change","z":"f10554dd.a84cd8","name":"","rules":[{"t":"delete","p":"payload.geometry","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":600,"wires":[["8def187a.1c9fb8"]]},{"id":"8def187a.1c9fb8","type":"change","z":"f10554dd.a84cd8","name":"","rules":[{"t":"delete","p":"payload._id","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":640,"wires":[["50a7f532.e36c5c"]]},{"id":"50a7f532.e36c5c","type":"change","z":"f10554dd.a84cd8","name":"","rules":[{"t":"delete","p":"payload._rev","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":680,"wires":[["a57db147.2c19e","2cec4bd4.4d77e4"]]},{"id":"a69c7d07.51f9d","type":"cloudant in","z":"f10554dd.a84cd8","name":"displayFixtures","cloudant":"","database":"fixtures","service":"paddockback-cloudantNoSQLDB","search":"_idx_","design":"displayFixtures","index":"displayFixtures","x":340,"y":900,"wires":[["e2f731be.7b87a","c65085f7.5331a8"]]},{"id":"7687c3e6.7808dc","type":"http in","z":"f10554dd.a84cd8","name":"api fixture getinfo","url":"/api/fixture/getinfo","method":"get","upload":false,"swaggerDoc":"","x":80,"y":900,"wires":[["a69c7d07.51f9d","75422a01.7620b4"]]},{"id":"e2f731be.7b87a","type":"http response","z":"f10554dd.a84cd8","name":"","statusCode":"","headers":{},"x":680,"y":900,"wires":[]},{"id":"75422a01.7620b4","type":"debug","z":"f10554dd.a84cd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":240,"y":980,"wires":[]},{"id":"c65085f7.5331a8","type":"debug","z":"f10554dd.a84cd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":980,"wires":[]},{"id":"2e9412ab.bede5e","type":"http in","z":"905d54e0.be9f98","name":"all paddocks","url":"/api/paddock/list","method":"get","upload":false,"swaggerDoc":"","x":90,"y":520,"wires":[["bc876d9a.e472b"]]},{"id":"bc876d9a.e472b","type":"cloudant in","z":"905d54e0.be9f98","name":"","cloudant":"","database":"paddocks","service":"paddockback-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":280,"y":520,"wires":[["9e75001f.d021b"]]},{"id":"673dc02c.d61f8","type":"http response","z":"905d54e0.be9f98","name":"boo","statusCode":"200","headers":{},"x":780,"y":520,"wires":[]},{"id":"9e75001f.d021b","type":"function","z":"905d54e0.be9f98","name":"Coordinate translator","func":"payloads = msg.payload.length;\nvar counter, a, b, pcounter;\nfor (pcounter = 0; pcounter<payloads; ++pcounter ){\n    arraylen = msg.payload[pcounter].geometry.coordinates[0].length\n    for (counter = 0; counter<arraylen; ++counter ){\n        a = msg.payload[pcounter].geometry.coordinates[0][counter][0];\n        b = msg.payload[pcounter].geometry.coordinates[0][counter][1];\n        msg.payload[pcounter].geometry.coordinates[0][counter][0] = b;\n        msg.payload[pcounter].geometry.coordinates[0][counter][1] = a;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":520,"wires":[["673dc02c.d61f8"]]},{"id":"7c2b1edd.990ea","type":"http in","z":"f10554dd.a84cd8","name":"fixtures by paddock","url":"/api/fixtures/getByPaddock","method":"get","upload":false,"swaggerDoc":"","x":90,"y":1060,"wires":[["bae16a4a.59c2a8"]]},{"id":"99d4343b.169d38","type":"cloudant in","z":"f10554dd.a84cd8","name":"fixtureLookUp","cloudant":"","database":"fixtures","service":"paddockback-cloudantNoSQLDB","search":"_idx_","design":"fixtureLookUp","index":"fixtureLookUp","x":500,"y":1060,"wires":[["3bf753d0.0f815c","a0f0ecca.8fa8a"]]},{"id":"bae16a4a.59c2a8","type":"function","z":"f10554dd.a84cd8","name":"Selector","func":"msg.payload = \"fixtureLookUp:\"+msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1060,"wires":[["99d4343b.169d38"]]},{"id":"3bf753d0.0f815c","type":"function","z":"f10554dd.a84cd8","name":"Coordinate translator","func":"payloads = msg.payload.length;\nvar counter, a, b, fcounter;\nfor (fcounter = 0; fcounter<payloads; ++fcounter ){\n    arraylen = msg.payload[fcounter].geometry.coordinates[0].length\n    for (counter = 0; counter<arraylen; ++counter ){\n        a = msg.payload[fcounter].geometry.coordinates[0][counter][0];\n        b = msg.payload[fcounter].geometry.coordinates[0][counter][1];\n        msg.payload[fcounter].geometry.coordinates[0][counter][0] = b;\n        msg.payload[fcounter].geometry.coordinates[0][counter][1] = a;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":1060,"wires":[["9bfa6642.8fece8"]]},{"id":"9bfa6642.8fece8","type":"http response","z":"f10554dd.a84cd8","name":"","statusCode":"200","headers":{},"x":730,"y":1180,"wires":[]},{"id":"a0f0ecca.8fa8a","type":"debug","z":"f10554dd.a84cd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":1020,"wires":[]},{"id":"bea08768.5bf4d8","type":"http in","z":"f10554dd.a84cd8","name":"api fixtures update","url":"/api/fixtures/update","method":"get","upload":false,"swaggerDoc":"","x":90,"y":60,"wires":[["7849fa47.3be824"]]},{"id":"580d4a6f.54b1d4","type":"cloudant out","z":"f10554dd.a84cd8","name":"fixtures insert","cloudant":"","database":"fixtures","service":"paddockback-cloudantNoSQLDB","payonly":true,"operation":"insert","x":800,"y":160,"wires":[]},{"id":"7849fa47.3be824","type":"function","z":"f10554dd.a84cd8","name":"Translator","func":"//name is fine\n//description is fine\n//id auto\nvar coords;\nvar newMsg = {payload: msg.payload.type};\nmsg.payload.type = \"Feature\";\nvar newMsg = {payload: msg.payload.geometry};\nvar geometry = '{ \"type\": \"Point\",';\ngeometry += '\"coordinates\":' + msg.payload.coordinates + '}';\nmsg.payload.geometry = JSON.parse(geometry);\nvar a = msg.payload.geometry.coordinates[0];\nvar b = msg.payload.geometry.coordinates[1];\nmsg.payload.geometry.coordinates[0] = b;\nmsg.payload.geometry.coordinates[1] = a;\n\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":120,"wires":[["cdf4b2bd.b7c67","48d31215.41a56c"]]},{"id":"82c6edd5.b2d7c","type":"http response","z":"f10554dd.a84cd8","name":"insert response","statusCode":"200","headers":{},"x":800,"y":120,"wires":[]},{"id":"19c957e8.099df8","type":"debug","z":"f10554dd.a84cd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":80,"wires":[]},{"id":"48d31215.41a56c","type":"change","z":"f10554dd.a84cd8","name":"remove payload.coordinates","rules":[{"t":"delete","p":"payload.coordinates","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":120,"wires":[["580d4a6f.54b1d4","19c957e8.099df8","82c6edd5.b2d7c"]]},{"id":"cdf4b2bd.b7c67","type":"debug","z":"f10554dd.a84cd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":160,"wires":[]},{"id":"39010ff8.429cc","type":"cloudant out","z":"f10554dd.a84cd8","name":"remove fixtures","cloudant":"","database":"fixtures","service":"paddockback-cloudantNoSQLDB","payonly":false,"operation":"delete","x":340,"y":60,"wires":[]},{"id":"9479f02c.27b29","type":"http in","z":"ea30ba1c.7a3d58","name":"kta paddock insert","url":"/kta/paddock/insert","method":"get","upload":false,"swaggerDoc":"","x":130,"y":120,"wires":[["da0fdad2.4d2bf8","da016c69.0ac3b"]]},{"id":"f3c2b9eb.463e98","type":"cloudant out","z":"ea30ba1c.7a3d58","name":"ktapaddock insert","cloudant":"","database":"ktapaddocks","service":"paddockback-cloudantNoSQLDB","payonly":true,"operation":"insert","x":920,"y":140,"wires":[]},{"id":"e7b30136.ba149","type":"http in","z":"ea30ba1c.7a3d58","name":"kta paddock getinfo","url":"/kta/paddock/getinfo","method":"get","upload":false,"swaggerDoc":"","x":190,"y":300,"wires":[["defd7a0d.64ff88"]]},{"id":"8151790a.57cba8","type":"cloudant in","z":"ea30ba1c.7a3d58","name":"paddockLookUp","cloudant":"","database":"ktapaddocks","service":"paddockback-cloudantNoSQLDB","search":"_idx_","design":"paddockLookUp","index":"paddockLookUp","x":420,"y":380,"wires":[["c3ba71cc.87196","65ea8212.bdb0fc"]]},{"id":"62746471.5a3bac","type":"http response","z":"ea30ba1c.7a3d58","name":"","statusCode":"","headers":{},"x":880,"y":420,"wires":[]},{"id":"defd7a0d.64ff88","type":"function","z":"ea30ba1c.7a3d58","name":"Selector","func":"msg.payload = \"paddockLookUp:\"+msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":300,"wires":[["8151790a.57cba8"]]},{"id":"da0fdad2.4d2bf8","type":"function","z":"ea30ba1c.7a3d58","name":"Translator","func":"//name is fine\n//id auto\nvar newMsg = {payload: msg.payload.type};\nmsg.payload.type = \"Feature\";\nvar newMsg = {payload: msg.payload.geometry};\n//var newMsg = {payload: msg.payload.geometry.type};\nvar geometry = '{ \"type\": \"Polygon\",';\ngeometry += '\"coordinates\":' + '[[' + msg.payload.coordinates + ']]}';\nmsg.payload.geometry = JSON.parse(geometry);\n\n//arraylen = msg.payload.geometry.coordinates[0].length;\n//var counter, a, b;\n//for (counter = 0; counter<arraylen; ++counter ){\n//    a = msg.payload.geometry.coordinates[0][counter][0];\n//    b = msg.payload.geometry.coordinates[0][counter][1];\n//    msg.payload.geometry.coordinates[0][counter][0] = b;\n//    msg.payload.geometry.coordinates[0][counter][1] = a;\n//}\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":60,"wires":[["53975909.9461b8"]]},{"id":"654fb0c7.2cd9a","type":"http response","z":"ea30ba1c.7a3d58","name":"insert response","statusCode":"200","headers":{},"x":890,"y":200,"wires":[]},{"id":"2c7ca836.f8b498","type":"debug","z":"ea30ba1c.7a3d58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":900,"y":80,"wires":[]},{"id":"53975909.9461b8","type":"change","z":"ea30ba1c.7a3d58","name":"remove payload.coordinates","rules":[{"t":"delete","p":"payload.coordinates","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":60,"wires":[["2c7ca836.f8b498","f3c2b9eb.463e98","654fb0c7.2cd9a"]]},{"id":"c3ba71cc.87196","type":"function","z":"ea30ba1c.7a3d58","name":"Coordinate translator","func":"//var newMsg = {payload: msg.payload.plen};\narraylen = msg.payload[0].geometry.coordinates[0].length\n//msg.payload.plen = \"length = \" + msg.length;\nnode.warn(\"length = \" + msg.payload[0].geometry.coordinates[0].length);\n\nvar counter, a, b;\nfor (counter = 0; counter<arraylen; ++counter ){\n    a = msg.payload[0].geometry.coordinates[0][counter][0];\n    b = msg.payload[0].geometry.coordinates[0][counter][1];\n    msg.payload[0].geometry.coordinates[0][counter][0] = b;\n    msg.payload[0].geometry.coordinates[0][counter][1] = a;\n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":420,"wires":[["62746471.5a3bac","212d2d0c.4bc802"]]},{"id":"65ea8212.bdb0fc","type":"debug","z":"ea30ba1c.7a3d58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":340,"wires":[]},{"id":"212d2d0c.4bc802","type":"debug","z":"ea30ba1c.7a3d58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":480,"wires":[]},{"id":"426ec79c.306dc8","type":"http in","z":"ea30ba1c.7a3d58","name":"all paddocks","url":"/kta/paddock/list","method":"get","upload":false,"swaggerDoc":"","x":160,"y":560,"wires":[["b8414b31.0bc2a8"]]},{"id":"b8414b31.0bc2a8","type":"cloudant in","z":"ea30ba1c.7a3d58","name":"","cloudant":"","database":"ktapaddocks","service":"paddockback-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":360,"y":560,"wires":[["8639bbd0.c38608"]]},{"id":"65c86a20.a7c404","type":"http response","z":"ea30ba1c.7a3d58","name":"boo","statusCode":"200","headers":{},"x":850,"y":560,"wires":[]},{"id":"8639bbd0.c38608","type":"function","z":"ea30ba1c.7a3d58","name":"Coordinate translator","func":"payloads = msg.payload.length;\nvar counter, a, b, pcounter;\nfor (pcounter = 0; pcounter<payloads; ++pcounter ){\n    arraylen = msg.payload[pcounter].geometry.coordinates[0].length\n    for (counter = 0; counter<arraylen; ++counter ){\n        a = msg.payload[pcounter].geometry.coordinates[0][counter][0];\n        b = msg.payload[pcounter].geometry.coordinates[0][counter][1];\n        msg.payload[pcounter].geometry.coordinates[0][counter][0] = b;\n        msg.payload[pcounter].geometry.coordinates[0][counter][1] = a;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":560,"wires":[["65c86a20.a7c404"]]},{"id":"da016c69.0ac3b","type":"debug","z":"ea30ba1c.7a3d58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":180,"wires":[]}]}},
{"id":"paddockback/settings","key":"paddockback/settings","value":{"rev":"7-fbabe88175c090b59c071b168b4dd233"},"doc":{"_id":"paddockback/settings","_rev":"7-fbabe88175c090b59c071b168b4dd233","settings":{"bluemixConfig":{"adminAuth":{"username":"khargreave@deakin.edu.au","password":"$2a$08$p9sGNqviNK7jT4hdr/Vu1uYv86GtVIp1fl.NaYZ9UQ/eKnxc3NCjq","allowAnonymous":false}},"nodes":{"node-red":{"name":"node-red","version":"0.19.4","local":false,"nodes":{"sentiment":{"name":"sentiment","types":["sentiment"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/analysis/72-sentiment.js"},"inject":{"name":"inject","types":["inject"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/20-inject.js"},"catch":{"name":"catch","types":["catch"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/25-catch.js"},"status":{"name":"status","types":["status"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/25-status.js"},"debug":{"name":"debug","types":["debug"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/58-debug.js"},"link":{"name":"link","types":["link in","link out"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/60-link.js"},"function":{"name":"function","types":["function"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/80-function.js"},"template":{"name":"template","types":["template"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/80-template.js"},"delay":{"name":"delay","types":["delay"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/89-delay.js"},"trigger":{"name":"trigger","types":["trigger"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/89-trigger.js"},"comment":{"name":"comment","types":["comment"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/90-comment.js"},"unknown":{"name":"unknown","types":["unknown"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/core/98-unknown.js"},"tls":{"name":"tls","types":["tls-config"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/io/05-tls.js"},"mqtt":{"name":"mqtt","types":["mqtt in","mqtt out","mqtt-broker"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/io/10-mqtt.js"},"httpin":{"name":"httpin","types":["http in","http response"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/io/21-httpin.js"},"httprequest":{"name":"httprequest","types":["http request"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/io/21-httprequest.js"},"websocket":{"name":"websocket","types":["websocket in","websocket out","websocket-listener","websocket-client"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/io/22-websocket.js"},"switch":{"name":"switch","types":["switch"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/logic/10-switch.js"},"change":{"name":"change","types":["change"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/logic/15-change.js"},"range":{"name":"range","types":["range"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/logic/16-range.js"},"split":{"name":"split","types":["split","join"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/logic/17-split.js"},"sort":{"name":"sort","types":["sort"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/logic/18-sort.js"},"batch":{"name":"batch","types":["batch"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/logic/19-batch.js"},"CSV":{"name":"CSV","types":["csv"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/parsers/70-CSV.js"},"HTML":{"name":"HTML","types":["html"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/parsers/70-HTML.js"},"JSON":{"name":"JSON","types":["json"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/parsers/70-JSON.js"},"XML":{"name":"XML","types":["xml"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/parsers/70-XML.js"},"YAML":{"name":"YAML","types":["yaml"],"enabled":true,"local":false,"module":"node-red","file":"/home/vcap/app/node_modules/node-red/nodes/core/parsers/70-YAML.js"}}},"node-red-bluemix-nodes":{"name":"node-red-bluemix-nodes","version":"1.1.10","local":false,"nodes":{"tcp":{"name":"tcp","types":["tcp in","tcp out","tcp request"],"enabled":true,"local":false,"module":"node-red-bluemix-nodes","file":"/home/vcap/app/node_modules/node-red-bluemix-nodes/io/31-tcpin-cf.js"},"udp":{"name":"udp","types":["udp out"],"enabled":true,"local":false,"module":"node-red-bluemix-nodes","file":"/home/vcap/app/node_modules/node-red-bluemix-nodes/io/32-udp-cf.js"},"mqlight":{"name":"mqlight","types":["mqlight in","mqlight out"],"enabled":true,"local":false,"module":"node-red-bluemix-nodes","file":"/home/vcap/app/node_modules/node-red-bluemix-nodes/mqlight/mqlight.js"},"mongodb":{"name":"mongodb","types":["mongodb","mongodb out","mongodb in"],"enabled":true,"local":false,"module":"node-red-bluemix-nodes","file":"/home/vcap/app/node_modules/node-red-bluemix-nodes/mongo/66-mongodb-cf.js"},"twilio":{"name":"twilio","types":["twilio out","twilio-api"],"enabled":true,"local":false,"module":"node-red-bluemix-nodes","file":"/home/vcap/app/node_modules/node-red-bluemix-nodes/twilio/56-twilio-cf.js"},"weather":{"name":"weather","types":["weather_insights"],"enabled":true,"local":false,"module":"node-red-bluemix-nodes","file":"/home/vcap/app/node_modules/node-red-bluemix-nodes/weather/weather_insights.js"},"businessrules":{"name":"businessrules","types":["business-rules"],"enabled":true,"local":false,"module":"node-red-bluemix-nodes","file":"/home/vcap/app/node_modules/node-red-bluemix-nodes/businessrules/v1.js"},"spssscoring":{"name":"spssscoring","types":["predictive_analytics"],"enabled":true,"local":false,"module":"node-red-bluemix-nodes","file":"/home/vcap/app/node_modules/node-red-bluemix-nodes/spss/spssscoring.js"}}},"node-red-contrib-scx-ibmiotapp":{"name":"node-red-contrib-scx-ibmiotapp","version":"0.0.49","local":false,"nodes":{"ibmiotapp":{"name":"ibmiotapp","types":["ibmiot","ibmiot out","ibmiot in"],"enabled":true,"local":false,"module":"node-red-contrib-scx-ibmiotapp","file":"/home/vcap/app/node_modules/node-red-contrib-scx-ibmiotapp/application/97-iotnewapp-cf.js"}}},"node-red-node-cf-cloudant":{"name":"node-red-node-cf-cloudant","version":"0.2.17","local":false,"nodes":{"cloudant-cf":{"name":"cloudant-cf","types":["cloudant","cloudant out","cloudant in"],"enabled":true,"local":false,"module":"node-red-node-cf-cloudant","file":"/home/vcap/app/node_modules/node-red-node-cf-cloudant/77-cloudant-cf.js"}}},"node-red-node-email":{"name":"node-red-node-email","version":"0.1.29","local":false,"nodes":{"email":{"name":"email","types":["e-mail","e-mail in"],"enabled":true,"local":false,"module":"node-red-node-email","file":"/home/vcap/app/node_modules/node-red-node-email/61-email.js"}}},"node-red-node-feedparser":{"name":"node-red-node-feedparser","version":"0.1.14","local":false,"nodes":{"feedparse":{"name":"feedparse","types":["feedparse"],"enabled":true,"local":false,"module":"node-red-node-feedparser","file":"/home/vcap/app/node_modules/node-red-node-feedparser/32-feedparse.js"}}},"node-red-node-openwhisk":{"name":"node-red-node-openwhisk","version":"0.3.4","local":false,"nodes":{"openwhisk":{"name":"openwhisk","types":["openwhisk-service","openwhisk-trigger","openwhisk-action"],"enabled":true,"local":false,"module":"node-red-node-openwhisk","file":"/home/vcap/app/node_modules/node-red-node-openwhisk/openwhisk/openwhisk.js"}}},"node-red-node-rbe":{"name":"node-red-node-rbe","version":"0.2.3","local":false,"nodes":{"rbe":{"name":"rbe","types":["rbe"],"enabled":true,"local":false,"module":"node-red-node-rbe","file":"/home/vcap/app/node_modules/node-red-node-rbe/rbe.js"}}},"node-red-node-twitter":{"name":"node-red-node-twitter","version":"1.1.2","local":false,"nodes":{"twitter":{"name":"twitter","types":["twitter-credentials","twitter in","twitter out"],"enabled":true,"local":false,"module":"node-red-node-twitter","file":"/home/vcap/app/node_modules/node-red-node-twitter/27-twitter.js"}}},"node-red-node-watson":{"name":"node-red-node-watson","version":"0.7.3","local":false,"nodes":{"watson-conversation-v1":{"name":"watson-conversation-v1","types":["watson-conversation-v1"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/app/node_modules/node-red-node-watson/services/conversation/v1.js"},"watson-conversation-workspace-manager-v1":{"name":"watson-conversation-workspace-manager-v1","types":["watson-conversation-v1-workspace-manager"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/app/node_modules/node-red-node-watson/services/conversation/v1-workspace-manager.js"},"watson-discovery-v1":{"name":"watson-discovery-v1","types":["watson-discovery-v1"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/app/node_modules/node-red-node-watson/services/discovery/v1.js"},"watson-discovery-v1-document-loader":{"name":"watson-discovery-v1-document-loader","types":["watson-discovery-v1-document-loader"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/app/node_modules/node-red-node-watson/services/discovery/v1-document-loader.js"},"watson-discovery-v1-query-builder":{"name":"watson-discovery-v1-query-builder","types":["watson-discovery-v1-query-builder"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/app/node_modules/node-red-node-watson/services/discovery/v1-query-builder.js"},"watson-language-translator-v3":{"name":"watson-language-translator-v3","types":["watson-translator"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/app/node_modules/node-red-node-watson/services/language_translator/v3.js"},"watson-language-translator-identify-v3":{"name":"watson-language-translator-identify-v3","types":["watson-language-translator-identify"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/app/node_modules/node-red-node-watson/services/language_translator_identify/v3.js"},"watson-language-translator-util-v3":{"name":"watson-language-translator-util-v3","types":["watson-translator-util"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/app/node_modules/node-red-node-watson/services/language_translator_util/v3.js"},"watson-natural-language-classifier-v1":{"name":"watson-natural-language-classifier-v1","types":["watson-natural-language-classifier"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/app/node_modules/node-red-node-watson/services/natural_language_classifier/v1.js"},"watson-natural-language-understanding-v1":{"name":"watson-natural-language-understanding-v1","types":["natural-language-understanding"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/app/node_modules/node-red-node-watson/services/natural_language_understanding/v1.js"},"watson-personality-insights-v3":{"name":"watson-personality-insights-v3","types":["watson-personality-insights-v3"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/app/node_modules/node-red-node-watson/services/personality_insights/v3.js"},"watson-speech-to-text-v1":{"name":"watson-speech-to-text-v1","types":["watson-speech-to-text"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/app/node_modules/node-red-node-watson/services/speech_to_text/v1.js"},"watson-speech-to-text-corpus-builder-v1":{"name":"watson-speech-to-text-corpus-builder-v1","types":["watson-speech-to-text-v1-query-builder"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/app/node_modules/node-red-node-watson/services/speech_to_text/v1-corpus-builder.js"},"watson-text-to-speech-v1":{"name":"watson-text-to-speech-v1","types":["watson-text-to-speech"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/app/node_modules/node-red-node-watson/services/text_to_speech/v1.js"},"watson-text-to-speech-corpus-builder-v1":{"name":"watson-text-to-speech-corpus-builder-v1","types":["watson-text-to-speech-v1-query-builder"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/app/node_modules/node-red-node-watson/services/text_to_speech/v1-corpus-builder.js"},"watson-tone-analyzer-v3":{"name":"watson-tone-analyzer-v3","types":["watson-tone-analyzer-v3"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/app/node_modules/node-red-node-watson/services/tone_analyzer/v3.js"},"watson-visual-recognition-v3":{"name":"watson-visual-recognition-v3","types":["visual-recognition-v3","visual-recognition-util-v3"],"enabled":true,"local":false,"module":"node-red-node-watson","file":"/home/vcap/app/node_modules/node-red-node-watson/services/visual_recognition/v3.js"}}},"node-red-nodes-cf-sqldb-dashdb":{"name":"node-red-nodes-cf-sqldb-dashdb","version":"0.2.28","local":false,"nodes":{"sqldb-dashdb-cf":{"name":"sqldb-dashdb-cf","types":["dashDB","dashDB out","dashDB in"],"enabled":true,"local":false,"module":"node-red-nodes-cf-sqldb-dashdb","file":"/home/vcap/app/node_modules/node-red-nodes-cf-sqldb-dashdb/98-sqldb-dashdb-cf.js"}}},"node-red-contrib-users":{"name":"node-red-contrib-users","version":"0.1.7","local":false,"nodes":{"users_config":{"name":"users_config","types":["users_config"],"enabled":true,"local":true,"module":"node-red-contrib-users","file":"/home/vcap/app/.node-red/node_modules/node-red-contrib-users/nodes/users_config.js"},"users_isloggedin":{"name":"users_isloggedin","types":["users_isloggedin"],"enabled":true,"local":true,"module":"node-red-contrib-users","file":"/home/vcap/app/.node-red/node_modules/node-red-contrib-users/nodes/users_isloggedin.js"}}}},"_credentialSecret":"9bb16eabde08b7ef69e89733395d90ba285e4f489e1b0d29a59cc2d56be4108a","users":{"khargreave@deakin.edu.au":{"editor":{"view":{"view-grid-size":"20","view-node-status":true,"view-show-tips":true,"view-snap-grid":true,"view-show-grid":true}}}}}}}
]}
